<tr>
  <td><%= stock.price %></td>
  <td><%= stock.quantity %></td>
  <td><%= stock.user.email %></td>
  <td>
    <% unless current_user == stock.user %>
      <%= form_tag add_cart_path(params: {stock_id: stock.id}), method: 'post', remote: true, class:'form-inline' do %>
        <%= select_tag :quantity, options_for_select(1..stock.quantity), { class: 'form-control mr-5' } %>
        <%= submit_tag 'add!', class: 'btn btn-outline-success form-control'%>
      <% end %>
    <% end %>
  </td>
</tr>